body {
  font-family: sans-serif;
  margin: 0;
  background: #fefefe;
}

* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 300px;
}


.basket {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  box-shadow: -4px 0 10px #ddd;
  background: darkslateblue;
  padding: 12px;
  overflow-y: auto;
  color: white;
}

.basket .product {
  margin-bottom: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 10px;
  padding: 20px;
}

.product {
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 3px 8px #ddd;
  padding: 12px;
  text-align: center;
  color: black;
}

.product__img {
  height: 200px;
}
